<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://func-collective-linting.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1b9d79eb-3a60-42ee-837c-71141e1f3755/resourceGroups/adinsure-infra/providers/Microsoft.Web/sites/func-collective-linting</ResourceId>
    <UserName>$func-collective-linting</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://func-collective-linting.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>